################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/EntityFramework.6.1.3/tools

/StudPortal/packages
/StudPortal/StudPortal/bin
/StudPortal/StudPortal/obj
/StudPortal/StudPortal.Tests/bin
/StudPortal/StudPortal.Tests/obj
/StudPortal/.vs
/StudPortal/Repository/bin
/StudPortal/Repository/obj
/StudPortal/RepositoryModels/bin
/StudPortal/RepositoryModels/obj
/StudPortal/Service/bin
/StudPortal/Service/obj
/StudPortal/ServiceModels/bin
/StudPortal/ServiceModels/obj