@using Data.Contracts.Entities;
@model List<Student>

@if (Model == null || Model.Count == 0)
{
    <h1>No students</h1>
}
else
{
    foreach (Student i in Model)
    {
        <div>
            <h5><strong>id:</strong> @i.Id</h5>
            <h5><strong>FirstName:</strong> @i.FirstName</h5>
            <h5><strong>LastName:</strong> @i.LastName</h5>
            <h5><strong>Age:</strong> @i.Age</h5>
            <hr />
        </div>
    }
}
