
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

</head>
<body style="
    background-image: url(http://blog.soomla.com/wp-content/uploads/2016/06/Can_App_Companies_Succeed_with_Ads_Only.png);
    background-size: 100%; /* Современные браузеры */">
</body>
</html>


