<h2>Delete Student</h2>
@using Lab1.Models;
@model List<Student>

@using (Html.BeginForm("Delete", "Student", FormMethod.Post))
{
    <h3>Введите id для удаления</h3>
    @Html.Label("id")
    @Html.Editor("id")
    <input type="submit" value="delete" />
}
<br />
<hr />
<br />
@{
    Html.RenderPartial("ListOfStudentsPartial");
}