<link href="~/css/chatSheet.css" rel="stylesheet" />
<div id="messageContainer" class="chat">
    <div class="messages">

    </div>
</div>
<div class="chatInputArea">
    <div class="input-group">
        <input id="cahtInput" type="text" class="form-control" placeholder="input text..">
        <div class="input-group-append">
            <button id="chatInputButton" class="btn btn-primary" type="button">Send</button>
        </div>
    </div>
</div>

<script src="~/js/chat.js"></script>