<div class="container mt-2 rounded bg-white text-dark">
    <div class="container">
        <div class="row">
            <div class="col p-0 ">
                <p><strong class="text-dark">Groups</strong></p>
                <p class="m-0"><strong class="text-secondary">Bowling Club</strong></p>
                <p>Tweets: 1425</p>
                <p class="m-0"><strong class="text-secondary">Rugs Lovers</strong></p>
                <p>Tweets: 547</p>
            </div>
        </div>
    </div>
</div>
