<div class="container mt-3 p-0 rounded bg-white">
    <div class="container rounded" style=" background: linear-gradient(0deg, #ffffff 50%, #343A40 50%)">
        <div class="row px-3">
            <div class="col-md-3 p-0">
                <div class="mt-2 mr-1">
                    <img src="~/Content/Images/img0.jpg" class="img-thumbnail rounded-circle border-0 mb-2" alt="Cinque Terre">
                </div>
            </div>
            <div class="col-md-9 p-0 ">
                <div class="row justify-content-center h-50">
                    <div class="col">
                    </div>
                </div>
                <div class="row justify-content-center h-50">
                    <div class="col">
                        <p><strong>Dude Lebowski</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-3">
        <div class="col">
            <p class="text-secondary m-0 text-center"><strong>Tweets</strong></p>
            <p class="text-secondary m-0 text-center">11</p>
        </div>
        <div class="col">
            <p class="text-secondary m-0 text-center"><strong>Subscriptions</strong></p>
            <p class="text-secondary m-0 text-center">28</p>
        </div>
        <div class="col">
            <p class="text-secondary m-0 text-center"><strong>Subscribers</strong></p>
            <p class="text-secondary m-0 text-center">5</p>
        </div>
    </div>
</div>
