@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><u>Лабораторная работа №1</u></h1>
    <h2>ФИЛИППОВИЧ АЛЕКСЕЙ</h2>
       
    <form action="/Student/StudentList">
       <h3><button type="submit">СТАРТ</button></h3>
    </form>
    
</div>
